@font-face {
  font-family: NunitoSans-Regular;
  src: url('./assets/fonts/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: NunitoSans-SemiBold;
  src: url('./assets/fonts/NunitoSans-SemiBold.ttf');
}

@font-face {
  font-family: NunitoSans-Bold;
  src: url('./assets/fonts/NunitoSans-Bold.ttf');
}

@font-face {
  font-family: NunitoSans-ExtraBold;
  src: url('./assets/fonts/NunitoSans-ExtraBold.ttf');
}

html,body {
  margin: 0;
  font-family: NunitoSans-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 !important;
  overflow-x: hidden;
  background-color: #F5F7FA;
}
::placeholder{
font: normal normal 600 14px/14px NunitoSans-Regular;
letter-spacing: 0px;
color: #98A0AC;
}
